<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dotMTR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <dotMTR.Properties.Settings>
            <setting name="MaxTTL" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinTTL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProgressColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UpProgressColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="DownProgressColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TraceInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PingTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="GraphSpanSeconds" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="GraphYAxisMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphYAxisMax" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PingPayload" serializeAs="String">
                <value>Howdy doodly do!</value>
            </setting>
        </dotMTR.Properties.Settings>
    </applicationSettings>
</configuration>